nav {
  background-color: #1f2937;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

nav a {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  background-color: #374151; 
  color: rgb(250, 0, 217);
  text-decoration: none;
}

nav a:hover {
  background-color: #4b5563; 
}
